doctype html
html
  head
    title= title

    link(rel='icon', type='image/png', href='/images/wdiShare.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  body
    block content